*{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FEF159;
    padding-right: 1%;
}
.navbar h1{
    font-size: 50px;
    margin: 0 auto;
}
.h1{
    justify-self: center;
}
.navbar a{
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover{
    color: #FFAF7B;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
    
}
.seccion-menu{
    width: 25px;
    cursor: pointer;
    display: block;
}
#nav{
    
    flex: 1;
    text-align: right;
    display: none;
}
#nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
#nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
#nav ul li a:hover{
    color: #ff5ea2;
}
#nav.active{
    display: block;
}
#nav-2{
    flex: 1;
    display: none;
    text-align: left;

}
#nav-2.activado{
    display: block;
}

#hamburguesa2{
    height: 250px;
}
#video{
    width: 250px;
}


/* SECCIONES */
.row{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    
}
.col-1{
    flex-basis: 40%;
    position: relative;
    
}
.col-1 h2{
    font-size: 60px;
}
.col-1 p{
    font-size: 20px;
    text-transform: uppercase;
    line-height: 2;
    padding-left: 10%;
}
.col-1 a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}
.col-1 a:hover{
    color: #FFAF7B;
}
.col-3{
    content: ' ';
    background: linear-gradient(#505050,#424242);
}
.col-2{
    line-height: 2;
    position: relative;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}
#menulist2{
    width: 100%;
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: 2;
    list-style: none;
    text-align: justify;
    padding-left: 8%;
    text-transform: capitalize;
    line-height: 3;
    background: #333333;
    border-radius: 2%;
}
#menulist2 a{
    color: #FFFFFF;
    font-size: 15px;
}
#menulist2 a:hover{
    color: #3383FA;
}
.seccion-menu{
    padding: 0;
    
}

@media only screen and (max-width: 700px){
    #nav{
        width: 100%;
        background: linear-gradient(#ff54a2,#ff575a);
        position: absolute;
        top: 55px;
        right: 0;
        z-index: 2;
    }
    #nav-2{
        width: 100%;
        background: linear-gradient(#f5b3d0,#ff575a);
        position: absolute;
        top: 85px;
        right: 0;
        z-index: 2;
    }
    .navbar{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .navbar h1{
        font-size: 25px;
    
    }
    .row{
        flex-direction: column;
        margin: 25px auto;

    }
    #video{
        width: 225px;
    }
    #hamburguesa2{
        height: 150px;
    }
    .col-1{
       flex-basis: 100%;
    }
    .col-1 h2{
        font-size: 50px;

    }
    .col-2 h2{
        font-size: 20px;
    }
    .col-2{
        line-height: 1;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    #menulist2{
        list-style: none;
        text-align: center;
        width: 100%;
        background: linear-gradient(#FFEFBA,#FFFFFF);
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 2;
        line-height: 2;
        list-style: none;
        text-align: justify;
        text-transform: uppercase;
    }
    #menulist2 a{
        color: #000;
    }
    .col-3{
        display: none;
    }
}
